<div class="background">
  <div class="container">
    @if(band){
    <img [src]="band.image_url" alt="{{ band.name }}" class="bandlogo-img" />
    <h1>{{ band.name }}</h1>
    <div class="description">
      <p>{{ band.description }}</p>
    </div>
    <div class="time">
      <p>{{ band.start_time }} - {{ band.end_time }} Között játszik</p>
      <p>Dátum: {{ band.days?.date }}</p>
    </div>
    } @else {
    <p>Hiba a banda betöltésekor...</p>
    }
  </div>
</div>
<footer class="footer">
  <div class="footer-content">
      <p>
        Ha van már fiókod akkor töltsd le a mobilalkalmazásunkat és élvezd
        kedvenc bandáid zenéit!
      </p>
    <p>Csatlakozz hozzánk a közösségi médiában és ne maradj le semmiről!</p>
  </div>

  <div class="social-icons">
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://youtube.com" target="_blank" aria-label="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
      <i class="fab fa-tiktok"></i>
    </a>
  </div>
</footer>
