.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto;
  justify-content: center;
  max-width: 1000px;
  width: 96%;
  background: rgba(0, 0, 0, 0.9);
  color: #fea71c;
  padding: 2em;
  border-radius: 15px;
  border: 1px solid rgba(112, 122, 116, 0.4);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out forwards;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0.5px;
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
  position: relative;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

img {
  width: 100%;
  height: auto;
  max-width: 450px;
  border-radius: 15px;
  transition: transform 0.3s;
  background-color: rgb(254, 167, 28, 0.5);
}
img:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 2.5rem;
  margin: 0.5em 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}
