<div class="background">
  <div class="container">
    @if(tickets.length > 0){
    <h2>Elérhető jegyek</h2>
    <div class="ticket-list">
      @for (ticket of tickets; track $index) {
      <div class="ticket-card">
        <h3>{{ ticket.type }}</h3>
        <p class="price">{{ ticket.price }} Ft</p>
        <p class="availability">
          Elérhető: <strong>{{ ticket.availability }}</strong> db
        </p>
        @if(ticket.days && ticket.days.length){
        <div>
          @for (day of ticket.days; track $index) {
          <li>Dátum: {{ day.date }}</li>
          }
        </div>
        }
        <div class="quantity-container">
          <button
            class="btn--secondary"
            (click)="decreaseQuantity(ticket)"
            [disabled]="ticket.quantity === 0"
          >
            -
          </button>
          <span>{{ ticket.quantity }}</span>
          <button
            class="btn--secondary"
            (click)="increaseQuantity(ticket)"
            [disabled]="ticket.quantity >= ticket.availability"
          >
            +
          </button>
        </div>

        <button
          class="btn--primary"
          (click)="addToCart(ticket)"
          [disabled]="ticket.quantity === 0"
        >
          Vásárlás
        </button>
      </div>
      }
    </div>
    } @else {
    <p class="no-tickets">🚫 Nincs elérhető jegy</p>
    }
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit!</p>
      <p>Csatlakozz hozzánk a közösségi médiában és ne maradj le semmiről!</p>
    </div>

    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </footer>
</div>

@if(modalVisible){
<div class="modal-overlay">
  <div class="modal-container">
    <p>{{ modalMessage }}</p>
  </div>
</div>
}
