<div class="background">
  <div class="container">
    <h1>Fesztivál Helyszínek</h1>
    <div class="map">
      <div class="area stage" id="stage" (click)="showDescription('stage')">
        1
      </div>
      <div class="area" id="food" (click)="showDescription('food')">2</div>
      <div class="area" id="merch" (click)="showDescription('merch')">3</div>
      <div class="area" id="camping" (click)="showDescription('camping')">
        4
      </div>
      <div
        class="area"
        id="medical-tent"
        (click)="showDescription('medicalTent')"
      >
        5
      </div>
      <div class="area" id="parking" (click)="showDescription('parking')">
        6
      </div>
    </div>

    @if(selectedDescription){
    <div class="description">
      {{ descriptions[selectedDescription] }}
    </div>
    }
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>
        Ha van már fiókod akkor töltsd le a mobilalkalmazásunkat és élvezd
        kedvenc bandáid zenéit!
      </p>
      <p>Csatlakozz hozzánk a közösségi médiában és ne maradj le semmiről!</p>
    </div>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </footer>
</div>
