<div class="background">
  <div class="container">
    <h1>Fesztivál Helyszínek</h1>
    <div class="map">
      <div
        class="area stage"
        id="stage1"
        (click)="showDescription('stage1')"
      ></div>
      <div class="area" id="food" (click)="showDescription('food')"></div>
      <div class="area" id="merch" (click)="showDescription('merch')"></div>
      <div
        class="area"
        id="mobil-house"
        (click)="showDescription('mobilHouse')"
      ></div>
      <div
        class="area"
        id="entrance"
        (click)="showDescription('entrance')"
      ></div>
    </div>
    @if(selectedDescription){
    <div class="description">
      {{ descriptions[selectedDescription] }}
    </div>
    }
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit</p>
    </div>
  </footer>
</div>
