<nav>
  <div class="burger" (click)="toggleMenu()">
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
  </div>

  <div class="menu-wrapper" [class.nav-active]="isMenuOpen">
    <div class="menu">
      <a (click)="closeMobilMenu()" routerLink="/">Főoldal</a>
      <a (click)="closeMobilMenu()" routerLink="/tickets">Jegyek</a>
      <a (click)="closeMobilMenu()" routerLink="/camping">Kemping</a>
      <a (click)="closeMobilMenu()" routerLink="/map">Térkép</a>
      <a (click)="closeMobilMenu()" routerLink="/gallery">Galéria</a>
      @if(authService.loggedinUser?.is_admin == true){
      <a (click)="closeMobilMenu()" routerLink="/admin">Admin</a>
      }
    </div>
    <ng-container *ngIf="authService.loggedinUser; else loginLink">
      <div class="nav-login">
        <div class="profile-icon">
          <svg
            (click)="navigateToProfile(); closeMobilMenu()"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-user-round profile-icon"
          >
            <path d="M18 20a6 6 0 0 0-12 0" />
            <circle cx="12" cy="10" r="4" />
            <circle cx="12" cy="12" r="10" />
          </svg>
        </div>
        <div class="divider"></div>
        <a (click)="logout(); closeMobilMenu()" class="logout">Kijelentkezés</a>
      </div>
    </ng-container>
    <ng-template #loginLink>
      <a (click)="closeMobilMenu()" routerLink="/login" class="nav-login"
        >Bejelentkezés</a
      >
    </ng-template>
  </div>
</nav>
<router-outlet></router-outlet>
