<nav>
  <div class="burger" (click)="toggleMenu()">
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
  </div>

  <div class="menu-wrapper" [class.active]="isMenuOpen">
    <div class="menu">
      <a routerLink="/">Főoldal</a>
      <a routerLink="/tickets">Jegyek</a>
      <a routerLink="/camping">Kemping</a>
      <a routerLink="/map">Térkép</a>
      <a routerLink="/photos">Galéria</a>
    </div>

    <a routerLink="/login" class="nav-login">Bejelentkezés</a>
  </div>
</nav>

<router-outlet></router-outlet>
