.btn--primary {
  background-color: #fea71c;
  color: #000;
  transition: background 0.3s ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto;
  justify-content: center;
  max-width: 1000px;
  width: 96%;
  background: rgba(0, 0, 0, 0.9);
  color: #fea71c;
  padding: 2em;
  border-radius: 15px;
  border: 1px solid rgba(112, 122, 116, 0.4);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out forwards;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0.5px;
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

.modal-container {
  background-color: black;
  color: #fea71c;
  padding: 20px 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #fea71c;
  box-shadow: 0px 5px 15px #fea71c;
  transition: opacity 0.3s ease;
  animation: scaleIn 0.3s ease;
}

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: 600;
}
.text-left {
  text-align: left;
}

.cart {
  width: 100%;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: 0.5em;
}

.cart-item {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #fea71c;
  border-radius: 15px;
  padding: 0.5em;
}

.price {
  font-weight: 600;
  color: white;
  align-items: center;
}

.count {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
  margin-top: 0.5em;
}
.count button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50vw;
  font-size: 0.85rem;
  padding: 0.25em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  &:hover {
    background: orange;
  }
  &:active {
    scale: 0.95;
  }
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0);
  text-align: center;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #fea71c, #ff4500);
  border-image-slice: 1;
}

.footer-content {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #fea71c;
  transform: scale(1.2);
}

.line-clamp-1 {
  margin-block: 0.25em 0.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
