<div class="background">
  <div class="container">
    <div class="cart">
      <h2>Kosaram</h2>
      @if(cartItems.length){

      <div class="cart-wrapper">
        @for (item of cartItems; track $index) {
        <div class="cart-item">
          <div class="flex-between">
            <h3>{{ item.type }}</h3>
            <h3>{{ item.price }} Ft</h3>
          </div>
          <p class="text-left">{{ item.description }}</p>
          <div class="price flex flex-between">
            <div class="flex count">
              <button>
                <svg
                  (click)="decreaseQuantity(item)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-minus"
                >
                  <path d="M5 12h14" />
                </svg>
              </button>
              <p>{{ item.quantity }} db</p>
              <button>
                <svg
                  (click)="increaseQuantity(item)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-plus"
                >
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </button>
            </div>
            <h3 class="">{{ item.price * item.quantity }} Ft</h3>
          </div>
        </div>
        }
        <p class="flex-between bold">
          <span>Végösszeg</span> {{ getTotalPrice() }} Ft
        </p>
        <button class="btn--primary" (click)="checkout()">Fizetés</button>
      </div>
      }@else {
      <p>A kosár üres.</p>
      }
    </div>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit!</p>
      <p>Csatlakozz hozzánk a közösségi médiában és ne maradj le semmiről!</p>
    </div>

    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </footer>
</div>
@if(modalVisible){
<div class="modal-overlay">
  <div class="modal-container">
    <p>{{ modalMessage }}</p>
  </div>
</div>
}
