<div class="background">
  <div class="container">
    <h1>Admin Felület</h1>
    <div class="tabs">
      <button
        (click)="activeTab = 'camping'"
        [class.active]="activeTab === 'camping'"
      >
        Kemping
      </button>
      <button
        (click)="activeTab = 'tickets'"
        [class.active]="activeTab === 'tickets'"
      >
        Jegyek
      </button>
    </div>

    <div *ngIf="activeTab === 'camping'">
      <form (submit)="addCamping(); $event.preventDefault()">
        <input
          [(ngModel)]="newCamping.type"
          placeholder="Kemping típusa"
          type="text"
          required
          name="type"
        />
        <input
          [(ngModel)]="newCamping.description"
          type="text"
          placeholder="Leírás"
          required
          name="description"
        />
        <input
          [(ngModel)]="newCamping.price"
          type="number"
          placeholder="Ár (Ft / éj)"
          required
          name="price"
        />
        <input
          [(ngModel)]="newCamping.availability"
          type="number"
          placeholder="Elérhető helyek"
          required
          name="availability"
        />
        <button type="submit">Hozzáadás</button>
      </form>

      <ul>
        <li *ngFor="let spot of campingSpots">
          {{ spot.type }} - {{ spot.description }} - {{ spot.price }} Ft / éj -
          {{ spot.availability }} db
          <div class="button-holder">
            <button (click)="deleteCamping(spot.id)">Törlés</button>
            <button (click)="openEditCampingModal(spot)">Szerkesztés</button>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="activeTab === 'tickets'">
      <form (submit)="addTicket(); $event.preventDefault()">
        <input
          [(ngModel)]="newTicket.type"
          type="text"
          placeholder="Jegy típusa"
          required
          name="type"
        />
        <input
          [(ngModel)]="newTicket.description"
          type="text"
          placeholder="Leírás"
          required
          name="description"
        />
        <input
          [(ngModel)]="newTicket.price"
          type="number"
          placeholder="Ár (Ft)"
          required
          name="price"
        />
        <input
          [(ngModel)]="newTicket.availability"
          type="number"
          placeholder="Elérhető jegyek"
          required
          name="availability"
        />
        <button type="submit">Hozzáadás</button>
      </form>

      <ul>
        <li *ngFor="let ticket of tickets">
          {{ ticket.type }} - {{ ticket.description }} - {{ ticket.price }} Ft -
          {{ ticket.availability }} db
          <div class="button-holder">
            <button (click)="deleteTicket(ticket.id)">Törlés</button>
            <button (click)="openEditTicketModal(ticket)">Szerkesztés</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal" *ngIf="editTicketModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeEditTicketModal()">&times;</span>
        <h2>Jegy szerkesztése</h2>
        <form (submit)="updateTicket(); $event.preventDefault()">
          <input
            [(ngModel)]="editingTicket.type"
            placeholder="Jegy típusa"
            type="text"
            required
            name="editType"
          />
          <input
            [(ngModel)]="editingTicket.description"
            type="text"
            placeholder="Leírás"
            required
            name="editDescription"
          />
          <input
            [(ngModel)]="editingTicket.price"
            type="number"
            placeholder="Ár (Ft)"
            required
            name="editPrice"
          />
          <input
            [(ngModel)]="editingTicket.availability"
            type="number"
            placeholder="Elérhető jegyek"
            required
            name="editAvailability"
          />
          <button type="submit">Mentés</button>
        </form>
      </div>
    </div>
    <div class="modal" *ngIf="editCampingModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeEditCampingModal()">&times;</span>
        <h2>Kemping szerkesztése</h2>
        <form (submit)="updateCamping(); $event.preventDefault()">
          <input
            [(ngModel)]="editingCamping.type"
            placeholder="Kemping típusa"
            type="text"
            required
            name="editType"
          />
          <input
            [(ngModel)]="editingCamping.description"
            type="text"
            placeholder="Leírás"
            required
            name="editDescription"
          />
          <input
            [(ngModel)]="editingCamping.price"
            type="number"
            placeholder="Ár (Ft / éj)"
            required
            name="editPrice"
          />
          <input
            [(ngModel)]="editingCamping.availability"
            type="number"
            placeholder="Elérhető helyek"
            required
            name="editAvailability"
          />
          <button type="submit">Mentés</button>
        </form>
      </div>
    </div>
  </div>
</div>
