<div class="background">
  <div class="container">
    <h1>Admin Felület</h1>
    <div class="tabs">
      <button
        (click)="activeTab = 'camping'"
        [class.active]="activeTab === 'camping'"
      >
        Kemping
      </button>
      <button
        (click)="activeTab = 'tickets'"
        [class.active]="activeTab === 'tickets'"
      >
        Jegyek
      </button>
      <button
        (click)="activeTab = 'bands'"
        [class.active]="activeTab === 'bands'"
      >
        Zenekarok
      </button>
    </div>
    @if (successMessage) {
    <div class="success-message-overlay">
      <div class="success-message-box">
        {{ successMessage }}
      </div>
    </div>
    }
    <div *ngIf="activeTab === 'bands'">
      <form (submit)="addBand(); $event.preventDefault()">
        <input
          type="text"
          [(ngModel)]="newBand.name"
          placeholder="Zenekar neve"
          required
          name="bandName"
        />
        <input
          type="text"
          [(ngModel)]="newBand.logo_url"
          placeholder="Logo URL"
          required
          name="bandLogo"
        />
        <input
          type="text"
          [(ngModel)]="newBand.image_url"
          placeholder="Kép URL"
          name="bandImage"
        />
        <input
          type="text"
          [(ngModel)]="newBand.description"
          placeholder="Leírás"
          required
          name="description"
        />
        <input
          [(ngModel)]="newBand.start_time"
          placeholder="Kezdési időpont (óra:perc)"
          type="text"
          required
          name="start_time"
        />
        <input
          [(ngModel)]="newBand.end_time"
          placeholder="Befejezési időpont (óra:perc)"
          type="text"
          required
          name="end_time"
        />
        <input
          type="number"
          [(ngModel)]="newBand.day_id"
          placeholder="Nap ID"
          required
          name="bandDayId"
        />
        <button type="submit">Hozzáadás</button>
      </form>

      <ul>
        <li *ngFor="let band of bands">
          {{ band.name }} - {{ band.description }} - ({{ band.start_time }}-{{
            band.end_time
          }}) - Nap ID: {{ band.day_id }}
          <div class="button-holder">
            <button (click)="confirmDelete('band', band.id!)">Törlés</button>
            <button (click)="openEditBandModal(band)">Szerkesztés</button>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="activeTab === 'camping'">
      <form (submit)="addCamping(); $event.preventDefault()">
        <input
          [(ngModel)]="newCamping.type"
          placeholder="Kemping típusa"
          type="text"
          required
          name="type"
        />
        <input
          [(ngModel)]="newCamping.description"
          type="text"
          placeholder="Leírás"
          required
          name="description"
        />
        <input
          [(ngModel)]="newCamping.price"
          type="number"
          placeholder="Ár (Ft / éj)"
          required
          name="price"
        />
        <input
          [(ngModel)]="newCamping.availability"
          type="number"
          placeholder="Elérhető helyek"
          required
          name="availability"
        />
        <button type="submit">Hozzáadás</button>
      </form>

      <ul>
        <li *ngFor="let spot of campingSpots">
          {{ spot.type }} - {{ spot.description }} - {{ spot.price }} Ft / éj -
          {{ spot.availability }} db
          <div class="button-holder">
            <button (click)="confirmDelete('camping', spot.id)">Törlés</button>
            <button (click)="openEditCampingModal(spot)">Szerkesztés</button>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="activeTab === 'tickets'">
      <form (submit)="addTicket(); $event.preventDefault()">
        <input
          [(ngModel)]="newTicket.type"
          type="text"
          placeholder="Jegy típusa"
          required
          name="type"
        />
        <input
          [(ngModel)]="newTicket.description"
          type="text"
          placeholder="Leírás"
          required
          name="description"
        />
        <input
          [(ngModel)]="newTicket.price"
          type="number"
          placeholder="Ár (Ft)"
          required
          name="price"
        />
        <input
          [(ngModel)]="newTicket.availability"
          type="number"
          placeholder="Elérhető jegyek"
          required
          name="availability"
        />
        <input
          [(ngModel)]="newTicket.day_id"
          type="number"
          placeholder="Nap ID"
          required
          name="day_id"
        />
        <button type="submit">Hozzáadás</button>
      </form>

      <ul>
        <li *ngFor="let ticket of tickets">
          {{ ticket.type }} - {{ ticket.description }} - {{ ticket.price }} Ft -
          {{ ticket.availability }} db @for (day of ticket.days; track $index) {
          Dátum: {{ day.date }}
          }
          <div class="button-holder">
            <button (click)="confirmDelete('ticket', ticket.id)">Törlés</button>
            <button (click)="openEditTicketModal(ticket)">Szerkesztés</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal" *ngIf="editTicketModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeEditTicketModal()">&times;</span>
        <h2>Jegy szerkesztése</h2>
        <form (submit)="updateTicket(); $event.preventDefault()">
          <input
            [(ngModel)]="editingTicket.type"
            placeholder="Jegy típusa"
            type="text"
            required
            name="editType"
          />
          <input
            [(ngModel)]="editingTicket.description"
            type="text"
            placeholder="Leírás"
            required
            name="editDescription"
          />
          <input
            [(ngModel)]="editingTicket.price"
            type="number"
            placeholder="Ár (Ft)"
            required
            name="editPrice"
          />
          <input
            [(ngModel)]="editingTicket.availability"
            type="number"
            placeholder="Elérhető jegyek"
            required
            name="editAvailability"
          />
          <input
            [(ngModel)]="editingTicket.day_id"
            type="number"
            placeholder="Nap ID"
            required
            name="editDayId"
          />
          <button type="submit">Mentés</button>
        </form>
      </div>
    </div>
    <div class="modal" *ngIf="editCampingModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeEditCampingModal()">&times;</span>
        <h2>Kemping szerkesztése</h2>
        <form (submit)="updateCamping(); $event.preventDefault()">
          <input
            [(ngModel)]="editingCamping.type"
            placeholder="Kemping típusa"
            type="text"
            required
            name="editType"
          />
          <input
            [(ngModel)]="editingCamping.description"
            type="text"
            placeholder="Leírás"
            required
            name="editDescription"
          />
          <input
            [(ngModel)]="editingCamping.price"
            type="number"
            placeholder="Ár (Ft / éj)"
            required
            name="editPrice"
          />
          <input
            [(ngModel)]="editingCamping.availability"
            type="number"
            placeholder="Elérhető helyek"
            required
            name="editAvailability"
          />
          <button type="submit">Mentés</button>
        </form>
      </div>
    </div>
    <div class="modal" *ngIf="editBandModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeEditBandModal()">×</span>
        <h2>Zenekar szerkesztése</h2>
        <form (submit)="updateBand(); $event.preventDefault()">
          <input
            [(ngModel)]="editingBand.name"
            placeholder="Zenekar neve"
            type="text"
            required
            name="editBandName"
          />
          <input
            [(ngModel)]="editingBand.logo_url"
            placeholder="Logo URL"
            type="text"
            required
            name="editBandLogo"
          />
          <input
            [(ngModel)]="editingBand.image_url"
            placeholder="Kép URL"
            type="text"
            name="editBandImage"
          />
          <input
            [(ngModel)]="editingBand.description"
            placeholder="Leírás"
            type="text"
            required
            name="editBandDescription"
          />
          <input
            [(ngModel)]="editingBand.start_time"
            placeholder="Kezdési Időpont (óra:perc)"
            type="text"
            required
            name="editBandstart_time"
          />
          <input
            [(ngModel)]="editingBand.end_time"
            placeholder="Befejezési Időpont (óra:perc)"
            type="text"
            required
            name="editBandend_time"
          />
          <input
            [(ngModel)]="editingBand.day_id"
            placeholder="Nap ID"
            type="number"
            required
            name="editBandDayId"
          />
          <button type="submit">Mentés</button>
        </form>
      </div>
    </div>
    <div
      class="delete-confirm-overlay"
      *ngIf="deleteConfirmOpen"
      role="dialog"
      aria-modal="true"
    >
      <div class="delete-confirm-modal">
        <h2>Biztosan törlöd?</h2>
        <p>A művelet nem visszavonható.</p>
        <div class="actions">
          <button class="btn delete" (click)="confirmDeletion()">
            Igen, törlöm
          </button>
          <button class="btn cancel" (click)="closeDeleteModal()">
            Mégsem
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
