<div class="background">
  <div class="container">
    <h1>Admin Felület</h1>

    <form (submit)="addCamping(); $event.preventDefault()">
      <input
        [(ngModel)]="newCamping.type"
        placeholder="Camping típusa"
        required
        name="type"
      />
      <input
        [(ngModel)]="newCamping.price"
        type="number"
        placeholder="Ár (Ft / éj)"
        required
        name="price"
      />
      <input
        [(ngModel)]="newCamping.availability"
        type="number"
        placeholder="Elérhető helyek"
        required
        name="availability"
      />
      <button type="submit">Hozzáadás</button>
    </form>

    <ul>
      <li *ngFor="let spot of campingSpots">
        {{ spot.type }} - {{ spot.price }} Ft / éj - {{ spot.availability }} db
        <button (click)="deleteCamping(spot.id)">Törlés</button>
      </li>
    </ul>
  </div>
</div>
