<div *ngIf="user && !user.is_admin">
  <div class="background">
    <div class="container">
      <h3>Rendeléseim</h3>
      <div class="flex">
        <div class="card">
          <h2>Profil adatok:</h2>
          <p>Név: {{ user.name }}</p>
          <p>Email: {{ user.email }}</p>
        </div>
        <div class="orders">
          <table class="order-table">
            <thead>
              <tr>
                <th>Azonosító</th>
                <th>Termék típusa</th>
                <th>Mennyiség</th>
                <th>Ár</th>
                <th>Rendelés típusa</th>
              </tr>
            </thead>
            <tbody>
              @for (order of orders; track $index) {
              <tr *ngFor="let camping of order.campings">
                <td data-label="Azonosító">{{ order.id }}</td>
                <td data-label="Termék típusa">{{ camping.type }}</td>
                <td data-label="Mennyiség">{{ camping.quantity }}</td>
                <td data-label="Ár">{{ camping.price }} Ft</td>
                <td data-label="Rendelés típusa">Kemping</td>
              </tr>
              } @for (ticketOrder of ticketOrders; track $index) {
              <tr *ngFor="let ticket of ticketOrder.tickets">
                <td data-label="azonosító">{{ ticketOrder.id }}</td>
                <td data-label="azonosító">{{ ticket.type }}</td>
                <td data-label="azonosító">{{ ticket.quantity }}</td>
                <td data-label="azonosító">{{ ticket.price }} Ft</td>
                <td data-label="azonosító">Jegy</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit</p>
    </div>
  </footer>
</div>
