<div *ngIf="user && !user.is_admin">
  <div class="background">
    <div class="container">
      <div class="profile-info">
        <h2>Profil adatok:</h2>
        <p>Név: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
      </div>

      <div class="orders">
        <h3>🛒 Rendeléseid:</h3>
        @for (order of orders; track $index) {
        <div class="campings">
          <h4>📦 Rendelés ID: {{ order.id }}</h4>
          <div class="camping-grid">
            <div class="camping-card" *ngFor="let camping of order.campings">
              <p>
                <span class="icon">💰</span> Ár:
                <strong>{{ camping.price }} Ft</strong>
              </p>
              <p>
                <span class="icon">🏕️</span> Típus:
                <strong>{{ camping.type }}</strong>
              </p>
              <p>
                <span class="icon">🔢</span> Mennyiség:
                <strong>{{ camping.quantity }}</strong>
              </p>
            </div>
          </div>
        </div>
        }
        <h3>🎟️ Jegyrendeléseid:</h3>
        @for (ticketOrder of ticketOrders; track $index) {
        <div class="tickets">
          <h4>🎫 Rendelés ID: {{ ticketOrder.id }}</h4>
          <div class="ticket-grid">
            <div class="ticket-card" *ngFor="let ticket of ticketOrder.tickets">
              <p>
                <span class="icon">💰</span> Ár:
                <strong>{{ ticket.price }} Ft</strong>
              </p>
              <p>
                <span class="icon">🎟️</span> Típus:
                <strong>{{ ticket.type }}</strong>
              </p>
              <p>
                <span class="icon">🔢</span> Mennyiség:
                <strong>{{ ticket.quantity }}</strong>
              </p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit</p>
    </div>
  </footer>
</div>
