@if(user && !user.is_admin){
<div>
  <div class="background">
    <div class="container">
      <h3>Rendeléseim</h3>
      <div class="flex">
        <div class="card">
          <h2>Profil adatok:</h2>
          <p>Név: {{ user.name }}</p>
          <p>Email: {{ user.email }}</p>
        </div>
        <div class="orders">
          @if(orders.length > 0 || ticketOrders.length > 0){
          <table class="order-table">
            <thead>
              <tr>
                <th>Termék típusa</th>
                <th>Mennyiség</th>
                <th>Ár</th>
                <th>Leírás</th>
                <th>Rendelés típusa</th>
              </tr>
            </thead>
            <tbody>
              @for (order of orders; track $index) { @for (camping of
              order.campings; track $index) {
              <tr>
                <td data-label="Termék típusa">{{ camping.type }}</td>
                <td data-label="Mennyiség">{{ camping.quantity }}</td>
                <td data-label="Ár">
                  {{ (camping?.quantity ?? 0) * (camping?.price ?? 0) }} Ft
                </td>
                <td data-label="Leírás">{{ camping.description }}</td>
                <td data-label="Rendelés típusa">Kemping</td>
              </tr>
              } } @for (ticketOrder of ticketOrders; track $index) { @for
              (ticket of ticketOrder.tickets; track $index) {
              <tr>
                <td data-label="Termék típusa">{{ ticket.type }}</td>
                <td data-label="Mennyiség">{{ ticket.quantity }}</td>
                <td data-label="Ár">
                  {{ (ticket?.quantity ?? 0) * (ticket?.price ?? 0) }} Ft
                </td>
                <td data-label="Leírás">{{ ticket.description }}</td>
                <td data-label="Rendelés típusa">Jegy</td>
              </tr>
              } }
            </tbody>
          </table>
          } @else {
          <div class="message">Itt fognak megjelenni a rendeléseid</div>
          }
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>
        Ha van már fiókod akkor töltsd le a mobilalkalmazásunkat és élvezd
        kedvenc bandáid zenéit!
      </p>
      <p>Csatlakozz hozzánk a közösségi médiában és ne maradj le semmiről!</p>
    </div>

    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </footer>
</div>
}
