@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

button,
input {
  border: none;
  box-shadow: none;
}

a {
  color: #573d3b;
  font-weight: 600;
  transition: all ease-in-out 150ms;

  &:hover {
    color: #fea71c;
  }

  &:active {
    scale: 0.95;
  }
}
:where(.btn--primary) {
  margin-inline: auto;
}
.btn--primary {
  display: block;
  cursor: pointer;
  padding: 1em 2em;
  margin-block: 1em;
  border-radius: 30px;
  color: #fea71c;
  background: rgba(112, 122, 116, 0.3);
  border: 1px solid rgba(112, 122, 116, 0.4);
  transition: box-shadow ease-in-out 150ms, scale ease-in-out 200ms;

  &:hover {
    box-shadow: 0px 0px 20px rgba(112, 122, 116, 0.3);
  }

  &:active {
    scale: 0.95;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
