<section class="background">
  <div class="container">
    <a href=""><img src="band_logos/Babymetal-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Pantera-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Judas-Priest-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Gojira-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Ghost-Logo.png" alt="image" /></a>
    <a href=""
      ><img src="band_logos/System-of-a-Down-Logo.png" alt="image"
    /></a>
    <a href=""><img src="band_logos/Korn-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Trivium-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Black-Sabbath-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Iron-Maiden-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Slayer-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Kiss-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Metallica-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Rammstein-Logo.png" alt="image" /></a>
    <a href=""><img src="band_logos/Ozzy-Osbourne-Logo.png" alt="image" /></a>
  </div>
</section>
