.container {
  margin: 5px auto;
  justify-content: center;
  gap: 15px;
  max-width: 1000px;
  width: 96%;
  background: rgba(0, 0, 0, 0.9);
  color: #fea71c;
  padding: 2em;
  border-radius: 15px;
  border: 1px solid rgba(112, 122, 116, 0.4);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out forwards;
}
.img-wrapper {
  margin-top: 1em;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

h1 {
  font-size: 3em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

.logo {
  width: 250px;
  height: 200px;
  background: rgb(254, 167, 28, 0.5);
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-inline: auto;
}

.container a:nth-child(odd) img {
  animation: float 3s ease-in-out infinite;
}
.container a:nth-child(even) img {
  animation: float 4s ease-in-out infinite;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0.5px;
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
  position: relative;
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0);
  text-align: center;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #fea71c, #ff4500);
  border-image-slice: 1;
}

.footer-content {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #fea71c;
  transform: scale(1.2);
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  cursor: pointer;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 30px;
  color: #fea71c;
  background: rgba(112, 122, 116, 0.3);
  border: 1px solid rgba(112, 122, 116, 0.4);
  transition: box-shadow ease-in-out 150ms, scale ease-in-out 200ms;

  &:hover {
    box-shadow: 0px 0px 20px rgba(112, 122, 116, 0.3);
  }

  &:active {
    scale: 0.95;
  }
}

.pagination span {
  font-weight: bold;
  color: #fea71c;
}

.pagination button:disabled {
  background-color: rgb(170, 170, 170, 0.5);
  cursor: not-allowed;
}

input {
  margin-top: 1em;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fea71c;
  background: rgba(19, 19, 19, 0.5);
  color: #fea71c;
}

select {
  margin-top: 1em;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fea71c;
  background: black;
  color: #fea71c;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.95;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
