<section class="background">
  <div class="container">
    <input
      type="text"
      placeholder="Keress a felépő bandák között..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="currentPage = 0"
    />
    <select [(ngModel)]="searchDate" (ngModelChange)="currentPage = 0">
      <option value="">Összes dátum</option>
      <option *ngFor="let date of availableDates" [value]="date">
        {{ date }}
      </option>
    </select>
    <div class="img-wrapper">
      <div *ngFor="let band of paginatedBands; let i = index">
        <a (click)="navigateToProfile(band.id)">
          <img
            [src]="band.logo_url"
            alt="{{ band.name }}"
            class="bandlogo-img logo"
          />
        </a>
        <p></p>
      </div>
    </div>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 0">Előző</button>
      <span>{{ currentPage + 1 }}</span>
      <button
        (click)="nextPage()"
        [disabled]="(currentPage + 1) * pageSize >= bands.length"
      >
        Következő
      </button>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit</p>
    </div>
  </footer>
</section>
<router-outlet></router-outlet>
