<section class="background">
  <div class="container">
    @for (image of paginatedImages; track $index ) {
    <a (click)="navigateToProfile()"> <img [src]="image" alt="image" /></a>
    }
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 0">Előző</button>
      <span>{{ currentPage + 1 }}</span>
      <button
        (click)="nextPage()"
        [disabled]="(currentPage + 1) * pageSize >= images.length"
      >
        Következő
      </button>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>Töltsd le a mobilalkalmazásunkat és élvezd kedvenc bandáid zenéit</p>
    </div>
  </footer>
</section>
<router-outlet></router-outlet>
