<div class="background">
  <div class="container">
    @if(campingSpots.length > 0){
    <h2>Elérhető Camping Helyek</h2>
    <div class="camping-container">
      @for (spot of campingSpots; track $index) {
      <div class="camping-card">
        <h3>{{ spot.type }}</h3>
        <p>{{ spot.description }}</p>
        <p class="price">{{ spot.price }} Ft / éj</p>
        <p class="availability">Elérhető: {{ spot.availability }} db</p>

        <div class="quantity-container">
          <button class="btn--secondary" (click)="decreaseQuantity(spot)">
            -
          </button>
          <span>{{ spot.quantity || 0 }}</span>
          <button class="btn--secondary" (click)="increaseQuantity(spot)">
            +
          </button>
        </div>
        <button
          class="btn--primary"
          (click)="addToCart(spot)"
          [disabled]="spot.quantity === 0"
        >
          Foglalás
        </button>
      </div>
      }
    </div>
    } @else {
    <p class="no-camping">🚫Nincs elérhető kemping hely</p>
    }
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>
        Ha van már fiókod akkor töltsd le a mobilalkalmazásunkat és élvezd
        kedvenc bandáid zenéit!
      </p>
      <p>Csatlakozz hozzánk a közösségi médiában és ne maradj le semmiről!</p>
    </div>

    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </footer>
</div>
@if(modalVisible){
<div class="modal-overlay">
  <div class="modal-container">
    <p>{{ modalMessage }}</p>
  </div>
</div>
}
